/* colors:
#899D03,
 #FCB829,
  #875D4A, red-brown
   #FE7126, orange
    #F04D32 red-orange
*/

.header-container{
    display:grid;
    grid-column: span 3;
    grid-row:span 1;
    height:52px;
}

.trailhead-filter{
    display:grid;
    grid-area: h1;
    cursor: pointer;
    background-color:#644638;
    width: 15rem;
}



.trailhead-filter-list{
    display:grid;
    grid-area: h1;
    display:none;
}

.trailhead-filter:hover .trailhead-filter-list{
    align-self: right;
    display:block;
}

.trailhead-filter-list:hover{
    align-self: right;
    display:block;
}

.main-nav{
    display:flex;
    justify-content: space-between;
    background-color: #fcb929b7;
    height:50px;
}

.trailhead-containers{
    border:2px solid #644638;
    border-radius:10px;
    background-color:#dbb345;
    height:102px;
    width: 90%;
    grid-row:span 1;
    grid-column:span 3;
    gap:1rem;
    margin:1rem;
    text-indent: 0.5rem;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.trailhead-containers:hover{
    border:2px solid #644638;
    border-radius:10px;
    background-color:#dbb345;
    height:100px;
    width: 89%;
    grid-row:span 1;
    grid-column:span 3;
    gap:1rem;
    margin:1rem;
    text-indent: 0.5rem;
    box-shadow: none;

}

span{
    padding:0.8rem;
}
.trailhead-header{
    grid-row:span 1;
}

.grid-system{
    display:grid;
    grid-template-rows:52px repeat(10, minmax(50px,1fr));
    grid-template-columns: 3;
    grid-template-areas: "h1 h2 h3"

}


.asimovian-regular {
  font-family: "Asimovian", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav-brand{
font-family: "Asimovian", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: #875D4A;
  align-content: center;
  padding: 0.25rem;
  border:#875D4A;
  border-width: 0.1rem;
  grid-column: span 3;
/*  text-decoration-line: underline;
  text-decoration-style: wavy; */
}
.nav-menu{
    display:flex;
    gap:2rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #875D4A;
    text-decoration: none;
    margin-right:1rem;
}

body{
    background-color: #dabc94;
}

h1{
    display:flex;
    gap:2rem;
font-family: "Asimovian", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
    color: #4b3317;
    text-decoration: underline;
    margin-left:2rem;
}
a{
    text-decoration: none;
    color: #875D4A;
}

a:hover{
    text-decoration: none;
    color:#644638;
}

.nav-toggle{
    display:none;
}

ul{
    margin-block-start: 1rem;
}

button{
    background-color: transparent;
    border:none;
    box-shadow:none;
    outline: none;
}

li{
    margin-bottom:0.9rem;
}

hr{
    display:flex;
    align-self: center;
    width:100%;
    border:0.1rem solid #875D4A;
    margin-block-start:0rem;
    margin-block-end:0rem;
}

.nav-menu.hide{
display: none;
}

.nav-menu.show{
display: block;
 background-color: #fcb929b7;
    height:220px;
    width:100px;
    margin-block-start: 0rem;
    margin-right:0rem;
}

 ul li h2{
    margin-top:0.6rem;
}

ul{
    list-style-type:none;
}

body{
    margin:0rem;
}
@media screen and (max-width: 768px){
    .nav-toggle{
        display: flex;
        justify-content: center;
        align-content: center;
        align-self:center;
        flex-direction:column
    }

    .nav-menu{
    display:none;
}

    .hamburger
    {
        background-color: #875D4A;;
        height:3px;
        width:40px;
        padding:0;
        margin:3px;
        border-radius:3px;
    }

    .nav-toggle:hover{
        .hamburger
    {
        background-color: #875D4A;;
        height:4px;
        width:40px;
        padding:0;
        margin:3px;
        border-radius:4px;
    }
    }
}
