main{
    justify-self: center;
    display:flex;
    justify-items: center;
    flex-direction: column;
}

.ssr {
  font-family: "Sirin Stencil", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.notch {
  font-family: "Stack Sans Notch", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.ronorm {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.robold {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.cords-con{
justify-self: center;
}
.input-box{
    margin:1rem;
    padding: 0.2rem;
    border: solid black 2px;
    border-radius: 1rem;
    background-color: burlywood;
}

.container{
    display:flex;
    align-items: center;
    flex-direction: column;
}

.container-header{
    display:flex;
    flex-direction: row;
    align-items:center;
    background-color: rgb(105, 155, 155);
}

#title{
    margin-right:10%;
    color: whitesmoke;
}

.header-item{
background-color: rgb(255, 255, 255);
color:rgb(0, 0, 0);
padding:0.5rem;
border: 1px gray solid;
border-radius: 0.5rem;
margin-right: 15%;
margin-top:1%;
margin-bottom: 1%;
}

.header-item:hover{
    background-color: rgb(194, 194, 194);
    cursor:pointer;
}

.selected{
    background-color: rgb(194, 194, 194);
}

.selected:hover{
    cursor: default;
}

.container-grid-inside{
display:grid;
width:80%;
align-items:right;
}

#location{
    grid-area: 1/1/1/2;
    grid-column: span 2;
}
#temp{
    grid-area: 2/1/2/1;
}
#temp2{
    grid-area: 2/2/2/2;
}
#hum{
    grid-area: 5/1/5/1;
}
#hum2{
    grid-area: 5/2/5/2;
}
#cloud{
    grid-area: 4/1/4/1;
}
#cloud2{
    grid-area: 4/2/4/2;
}
#time{
    grid-area: 3/1/3/1;
}
#time2{
    grid-area: 3/2/3/2;
}
#win{
    grid-area: 6/1/6/1;
}
#win2{
    grid-area: 6/2/6/2;
}
.grid-item{
    border: 2px black solid;
}

#submit:hover{
    cursor:pointer;
background-color: rgb(223, 163, 85);
}

.hidden{
    display: none;
}